@charset "UTF-8";

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css');

/* ### booking css start ### */
	.bottm_div {
		display: inline-block;
		width: auto;
		height: 150px;
		vertical-align: top;
		margin-right: 10px;
	}
	
	.top_div {
		display: inline-block;
		width: auto;
		height: 80px;
		vertical-align: top;
		margin-right: 10px;
		margin-top: 20px;
	}
	
	.adult_btn {
		width:60px;
		height:40px;
	}
	
	.junior_btn {
		width:60px;
		height:40px;
	}
	
	#seat_cover_div {
		position: absolute;
		width: 570px;
		height: 310px;
		background-color: #aaa;
		opacity: 90%;
		z-index: 5;
		top: 50%;
		left:50%;
		margin: -190px 0 0 -290px;
	}
	
	#cover_span {
		font-size: 1.8em;
		font-weight: bold;
		color: tomato;
	}

/* ### booking css end ### */

/* ### main header css start ### */
/* menu mouseover auto drop */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* menu interval */
.nav-item {
	padding-right: 30px;
}

/* toggle switch hide */
a.menu:after, .dropdown-toggle:after {
   	content: none;
}
/* ### main header css end ### */

/* ### main css start ### */
.box_movie{
	align:center;
}

.main_body_box{
	width:900px;
	align:center;
	padding-left:32.5%;
}
/* ### main css end ### */

/* ### login modal start ### */
.modal_wrap{
    display: none;
    width: 500px;
    height: 300px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 2;
    padding: 30px;
}
    
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}
/* ### login modal end ### */

/* ### screen setting start ### */
 
input[type=date]::-webkit-calendar-picker-indicator {
  margin-left: -15px;
}

/* ### screen setting end ### */

/* 영화 차트 start*/
.movie-list-info {
    position: relative;
    margin: 20px;
    padding: 0;
    width:200px;
    height:300px;
    background-color: #fff;
    align:center;
}

.movie-list , .movie-list a{
	position: absolute;
	align:center;
}
.summary{
	position: absolute;
	width:200px;
	height:300px;
	text-align:left;
}
.summary a {
	position: absolute;
	align:left;
	text-align:center;

}

.title-area {
	position: relative;
}
/* 영화 차트 end */

/* 영화 상세페이지 start */
.movie-content {
	position : relative;
	width:100%;
	height:520px;
	background-color : #151515;
}

.movie-content-img {
	position : absolute;
	background-repeat:no-repeat;
	background-size : 100% auto;
	width: 1100px;
	height:100%;
	margin:0 0 0 350px;
	opacity: 0.3;
}
.movie-detail-cont {
	position : absolute;
	width : 1100px;
	height:100%;
	margin: 0 0 0 350px;
}

.d-day {
	color : white;	
	height: 30px;
	width: 300px;
	text-align:cetner;
	font-size:2em;
}

.movie-title {
	font-size: 3.0666em;
}

.movie-title-en {
	font-size : 1.3333em;
}

.movie-title, .movie-title-en {
	color : #fff;
	margin : 0 0 10px 0;
}

.movie-info {
	float:left;

	left: 0px;
	bottom:50px;
	color: #fff;
}

.movie-info-stack {
	display: block;
	left: 100px;
	bottom:50px;
	color: #fff;
}
.movie-detail-cont .poster{
	display: block;
    position: absolute;
    right: 0;
    top: 45px;
}
.movie-detail-cont .reserve {
	display: block;
    position: absolute;
    right: 0;
    bottom: 85px;
    width: 244px;
    background-color: #329eb1;
    text-align:center;
    font-color:#fff;
}
.movie-detail-cont .reserve a {
	color:#fff;
    font-size: 2em;
}

.movieInfo {
	width: 1100px;
	height: 100%;
	margin: 0 0 0 350px;
}

.movieInfo p span {
	border-right : 0.5px solid black;
	padding : 0 10px 0 0;
}

.review {
	width: 1100px;
	height: 100%;
	margin: 0 0 0 350px;
}

.memberName {
	float:left;
	padding:0 30px 0 0;
}
.memberName span{
	display: block;
    text-align: center;
    line-height: 80px;
}
.review_write_text{
	float:left;
}
.review_write_point{
	padding-top:25px;
	padding-right: 20px;
	float:left;	
	clear:both;
}
.review_write_text textarea{
	width:800px;
	height:80px;
}

.memberName1 {
	float:left;
	padding:0 10px 0 0;
}

.memberName1 span{
	display: block;
    text-align: center;
    line-height: 80px;
    bottom:0px;
}
.review_write_button{
	float:left;
	display:block;
	padding: 25px 0 0 10px;
	vertical-align:middle;
}
.review-box {
	background-color : #f8f8fa;
	float:left;
	height:80px;
	width:800px;
	line-height: 80px;
}
.story-point{
	float:left;
	line-height: 80px;
}
.story-point span{
	font-size: 2em;
	margin:0 0 0 30px;
}
.story-text {
    position: absolute;
	margin : 0 0 0 100px;
}
.story-text span {
	padding: 0 0 0 30px;
}
.story-text:before{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 50px;
    margin-top: -25px;
    background-color: rgba(0,0,0,.1);
}
.review_write{
	overflow:auto;
}
.review-list {
	height:80px;
	padding-top:20px;
	overflow:auto;
}
.review_id {
	clear:both;
	float:left;
}
.review_point {
	padding-left:50px;
	float:left;
}
.review_text{
	float:left;
	padding-left:80px;
}
/* 영화 상세페이지 end */
/* 상영시간표 페이지 start */
.timetable-container {
	display: flex;
  	justify-content: center;
}
.movie-choise-area {
	float : left;
	align : middle;
}

.movie-choise-area ul li {
	width: 150px;
	height:150px;
	border:1px solid black;
	text-align:center;
	list-style: none;
}
.movie-choise-area ul li a {
	width:100%;
	height:100%;
	vertical-align:middle;
}
.movie-choise-area ul li a span{
	font-size:1.66em;
}
.movie-choise {
	border:1px solid black;
	border-radius:3px;
	float:left;
	width: 800px;
	height:300px;
	padding: 0 0 0 20px;
}

movie-choise1 {
	border:1px solid black;
	border-radius:3px;
	float:left;
	width: 800px;
	height:300px;
	padding: 0 0 0 20px;
}

.movie-choise li{
	float:left;
	width:33%;
	height:25px;
}
.movie-choise li button {
	width:80%;
	text-align:left;
}
.movie-choise li button :hover {
	text-decoration:underline;
}
.movieposter {
	width:200px;
	height:300px;
}
.movie-tit-div{
	width:60%;
	justify-content: center;
	margin-left:300px;
}

.movie-tit{
	display:block;
	margin-top : 60px!important;
	line-height: 44px;
	justify-content: center;
	width:800px;
}

#title_ko, #title_ko2{
	color:green;
}

.wrap {
	position:reative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 1100px;
	height: 80px;
	margin-left:300px;
}

.btn-pre {
	float:left;
	width:30px;
    background-color:white;
	height:100%;
	border:0px;
}
.btn-next {
	float:left;
	width:30px;
    background-color:white;
	height:100%;
	border:0px;
}

.on {
	float:left;
	width:80px;
	height:100%;
	background-color:white;
	border : 0px;
}

.on:hover{
	bacgroundcolor:gray;
}

.year {
	position: absolute;
    top: 0;
    font-size: .8667em;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin-top: -14px;
    border: 1px solid #d8d9db;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    font-weight: 400;
}

.holi {
	color:red;
}

.sat {
	color:blue;
}

.btn-group1 {
	margin-top:50px;
	margin-left:300px;
}

.btn1 {
	width:140px;
	background-color:white;
}

.locationInfo {
	margin-top:50px;
	margin-left:300px;
}

.theater-list-box {
	margin-top:0px;
	margin-left:0px;
	position:relative;
}

.theater-list-box1{
	margin-left:300px;
	width:1500px;
	height:50px;
}

.localscreen {
	margin-top:10px;
	padding-bottom:20px;
	margin-right: 30px;
	float:left;
}

.movietype {
	float:left;
	width: 50px;
	height:50px;
	text-align:center;
	margin-right:50px;
}
.movietype-text{
	font-size : 2em;
}

.movietime-box{
	float:left;
	width: 50px;
	height:50px;
	text-align:center;
	margin-right:20px;
}

.bk {
	background-color:gray;
}

.timetable button:disabled {
  background: #ccc;
}
/* 상영시간표 페이지 end */
/* 관리 페이지 	*/
.title {
	text-align: left;
	margin-left: 500px;
}

.movieWrite, .movieWrite tr, .movieWrite td, .movieWrite th{
	border-bottom : 1px solid black;
	padding : 10px 10px;
	width : 800px;
}

.search {
	text-align: right;
	margin-right: 500px;
}

.movieList, .moviList tr, .movieList th, .movieList td{
	border : 1px solid red;
	text-align: center;
	width: 950px;
}

.table td, .table th{
	text-align:center;
}

#poster{
	width:200px;
	height:150px;
}

textarea{
	resize:none;
	
}

.localWrite th, td{
	padding: 10px;
}

#side_bar{
	list-style-type: none;
	border-right: 3px;
	width: 15%;
	height: 90%;
	position: fixed;
	overflow: auto;
	text-align: center;
	background-color: #ccc;
}

#side_bar .side_menu{
	text-decoration: none;
	display: block;
	color: #000;
	padding: 80px 0px 80px 0px;
	font-size: 20px;
}

#side_bar a:hover{
	background-color: #eee;
	color: white;
}

.memname{
	padding-left: 350px;
	font-size: 50px;
	font-weight: bold;
}

.memedit{
	margin-left: 400px;
	color: black;
}

.mempoint{
	padding-left: 100px;
	font-size: 30px;
	font-weight: bold;
}

.mempoint1{
	padding-left: 200px;
	font-size: 20px;
}

.memleft{
	float: left;
	padding-left: 100px;
	padding-top: 30px;
}

.memright{
	float: right;
	padding-right: 300px;
	padding-top: 30px;
}

.mypage{
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
}

.mypageinfo {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  margin : 20px 10px;
}

.mypageinfo th {
  width: 200px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ccc;
}

.mypageinfo td {
  width: 200px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ccc;
}

.membooted{
	margin-left: 950px;
	color: black;
}
