@charset "UTF-8";

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css');

.dropdown-menu {
    border-radius: 10px;
}

select {
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    padding: 0.2em 1.4em 0.2em 0.1em;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    /* box-shadow: 0 1px 0 1px rgb(0 0 0 / 4%); */
}

input {
	color: #444;
    background-color: #fff;
/*     padding: 0.1em 1.4em 0.1em 0.1em; */
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
}

body{
	font-family: nanumbarungothic;
	background-color: black;
}

.header_day {
	height: 70px;
    margin-bottom: 0px;
    /* margin-top: 5%; */
    width: 95%;
    padding-top: 15px;
}

.day_btn {
	background-color: black;
    border: 0px solid #ddd;
}

.list-group-horizontal-md .list-group-item {
    margin-right: -1px;
    margin-bottom: -1px;
    background-color: black;
    color: #fff;
    text-align: center;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    text-shadow: 0 -1px 0 black;
    background-image: -webkit-linear-gradient(top,mediumpurple 0,mediumpurple 100%);
    background-image: -o-linear-gradient(top,mediumpurple 0,mediumpurple 100%);
    background-repeat: repeat-x;
    border-color: mediumpurple;
    background-color: mediumpurple;
    z-index: 2;
    color: #fff;
}

.list-group-horizontal-md .list-group-item:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.list-group-horizontal-md .list-group-item:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.list-group-item.disabled, .list-group-item:disabled {
    color: #535e69;
    pointer-events: none;
    background-color: #ddd;
}

.list_item_bg {
	background-color: #fff;
}

.qbooking_all_div {
	width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: rgb(255 255 255 / 90%);
    height: 629px;
    border-radius: 10px;
}

.booking_title_m {
	font-size: 19px;
    text-align: left;
    margin-right: 75%;
    color: black;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}

.booking_title_c {
	font-size: 19px;
    text-align: left;
    margin-right: 70%;
    color: black;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}

.booking_title_t {
	font-size: 19px;
    text-align: left;
    margin-right: 93%;
    color: black;
    margin-bottom: 1%;
    border-bottom: 1px solid black;
}

.booking_list_m {
	margin-left: 7%;
    margin-top: 3%;
}

.booking_list_c {
    margin-top: 5%;
}

.booking_list_cc {
    margin-top: 10%;
}

.booking_list_b {
    margin-top: 1%;
    width: 579px;
}

.booking_list_gr {
	height: 474px;
	overflow: auto;
	width: 576px;
	background-color: #E6E6E6;
}

.select_info_div {
	width: 100%;
    height: 117px;
    background-color: rgb(255 255 255 / 90%);
    /* display: inline; */
    color: white;
    /* margin-left: -77%; */
    border-radius: 7px;
    margin: 0 auto;
    margin-top: -1%;
}

.sle_movie_img  {
	margin-top: 14px;
    margin-right: 10px;
}

.sle_movie_div {
	color: black;
	display: inline;
	margin-left: -56%;
}

.sle_cinema_div {
	color: black;
	display: inline;
	margin-left: 13%;
}

.from_str {
	color: mediumpurple;
    margin-top: 35%;
    font-weight: 600;
    font-size: 1.2em;
}

.select_all_div {
	width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: white;
/*	height: 800px;*/
    border-radius: 10px;
    margin-bottom: 2%;
}

.top_seat_div {
	border-right: 1px solid #979797;
    padding-right: 31px;
    font-weight: 600;
    padding-top: 2%;
}

.seat_img {
	margin-left: -1%;
    width: 90px;
    height: 60px;
    margin-top: -3%;
}

.seat_movie_div {
	background-color: #e7e7e7;
    width: 100%;
    height: 217px;
    margin-top: -20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pay_all_div {
    width: 52%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: rgb(255 255 255 / 90%);
    height: 1035px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.pay_title_div {
	font-size: 1.6em;
    padding-top: 22px;
    background-color: mediumpurple;
    width: 100%;
    height: 76px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.pay_title_div2 {
	font-size: 1.6em;
    padding-top: 22px;
    background-color: mediumpurple;
    width: 100%;
    height: 76px;
    color: white;
}

.pay_table_div {
    background-color: white;
    width: 100%;
    height: 461px;
    padding-top: 2%;
}

.pay_img {
	width: 300px;
	height: 400px;
	border-radius: 10px;
}

.pay_td {
	border-bottom: 1px solid #979797;
}

.pay_total_td {
	background-color: mediumpurple;
    border-radius: 7px;
    color: white;
}

.pay_cre_div {
	margin-right: 8.75rem;
    margin-left: 6em;
}

.credit_in_div {
	padding-top: 3%;
    padding-bottom: 3%;
    background-color: white;
    font-size: 1.2em;
}

.pay_check_div {
	padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
    font-size: 1.1em;
    height: 262px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pay_check_in_div {
	background-color: #b7b7b7;
    width: 74%;
    border-radius: 7px;
    padding: 3%;
}

.pay_submit_div {
	margin-top: 2%;
}

.pay_btn {
	height: 50px;
    background-color: mediumpurple;
    width: 74%;
    color: white;
    font-size: 1.1em;
}

.pay_btn:hover {
	opacity: 70%;
}

.com_all_div {
	width: 52%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: rgb(255 255 255 / 90%);
    height: 613px;
    border-radius: 10px;
    margin-bottom: 2%;
}

.com_end_div {
	font-size: 1.6em;
    padding-top: 22px;
    background-color: mediumpurple;
    width: 100%;
    height: 76px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.bottom_box2{
	width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
	padding-top: 30px;
    background-color: rgba(25,25,25,0.8);
}

.nav_bg {
	margin: 0 auto;
    width: 1000px;
/*     margin-top: 5%; */
}

.main_body{
	background-color: black;
	
}

.title_font{
	color: #fff;
    FONT-SIZE: 25px;
    font-weight: 600;
    FONT-FAMILY: ARIAL;
    margin-top: 5%;
}

.table_bg{
	width: 60%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.chart_table_bg {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-left: 3%;
}

.btn_bg{
	margin-top: 10%;
    width: 150px;
}
.search_bg {
	width: 30%;
    margin: 0 auto;
}

.nav_a {
	color: white;
    font-size: 20px;
}

.nav_a_color {
	color: white;
}

.nav_a_color_p {
	color: mediumpurple;
	font-size: 16px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: mediumpurple;
    background-color: black;
}

.search>a:hover{
	color: mediumpurple;
	text-decoration: underline;
}

.btn_bg:hover {
    color: #8C8C8C;
    background-color: #23272b;
    border-color: #1d2124;
}

.bottom_box{
	width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
	padding-top: 30px;
    height: 80px;
    background-color: rgba(25,25,25,0.8);
}

.left_line{
	display: inline;
    padding-right: 5%;
    border-right: 1px solid #fff;
}

.center_line{
	display: inline;
    padding-right: 5%;
    padding-left: 5%;
    border-right: 1px solid #fff;
    font-size: 17px;
}

.right_line{
	display: inline;
    padding-left: 5%;
    font-size: 17px;
}

.bottom_box a{
	color: #fff;
}

.bottom_box a:hover{
	text-decoration: underline;
}

.bottom_box2 a{
	color: #fff;
}

.bottom_box2 a:hover{
	text-decoration: underline;
}

.bottom_input{
	background-color: transparent;
    border-style: hidden;
    border-bottom: 1px solid #aaa;
}

.bottom_btn[type="submit"] {
	background-color: transparent;
    font-family: FontAwesome;
    border-style: hidden;
    color: #fff;
    font-size: 18px;
}

.td_img img {
	border-radius: 10px;
}

.td_img img:hover {
	opacity: 50%;
}

/* ### booking css start ### */
	.bottm_div {
		display: inline-block;
	    width: auto;
	    height: 150px;
	    vertical-align: top;
	    margin-right: 10px;
	    color: black;
	    margin-top: 34px;
	    font-weight: bolder;
	    border-right: 1px solid #979797;
	    padding-right: 61px;
	}
	
	.bottm_left_div {
		display: inline-block;
	    width: auto;
	    height: 150px;
	    vertical-align: top;
	    color: black;
	    margin-top: 34px;
	    background-color: #979797;
    	margin-left: -10%;
    	margin-right: 1%;
	}
	
	.bottm_left_div:hover {
		opacity: 70%;
	}
	
	.bottm_right_div {
	    display: inline-block;
	    width: auto;
	    height: 150px;
	    vertical-align: top;
	    color: black;
	    margin-top: 34px;
	    background-color: mediumpurple;
	    margin-right: -10%;
	}
	
	.bottm_right_div:hover {
		opacity: 70%;
	}
	
	.top_div {
		display: inline-block;
		width: auto;
		height: 110px;
		vertical-align: top;
		margin-right: 19px;
		margin-top: 20px;
	}
	
	.adult_btn {
		width:60px;
		height:40px;
	}
	
	.junior_btn {
		width:60px;
		height:40px;
	}
	
	.seat_btn {
		width: 20px;
    	height: 20px;
    	border: 0px;
    	background-color: rgb(178, 235, 244);
	}
	
	.seat_btn:hover {
		background-color: orange;
		opacity: 50%;
	}
	
	#seat_cover_div {
		position: absolute;
		width: 570px;
		height: 420px;
		background-color: #aaa;
		opacity: 90%;
		z-index: 5;
		top: 50%;
		left:50%;
		margin: -130px 0 0 -290px;
	}
	
	#cover_span {
		font-size: 1.8em;
		font-weight: bold;
		color: tomato;
	}

/* ### booking css end ### */

/* ### main header css start ### */
/* menu mouseover auto drop */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* menu interval */
.nav-item {
	padding-right: 30px;
}

/* toggle switch hide */
a.menu:after, .dropdown-toggle:after {
   	content: none;
}
/* ### main header css end ### */

/* ### main css start ### */
.box_movie{
	padding-top: 20px;
}

.main_body_box{
/* 	width:900px;
	align:center;
	padding-left:25%; */
}

/* ### main css end ### */

/* ### login modal start ### */
.modal_wrap{
    display: none;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background: mediumpurple;
    z-index: 2;
    padding: 30px;
    border-radius: 50px;
    color: white;
}

.join_ready_all_div {
	background-color: white;
    width: 37%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 2%;
}

.login_td {
	background-color: black;
    border-radius: 30px;
    color: white;
}

.join_btn {
	background-color: mediumpurple;
    color: white;
    width: 100%;
}

.join_title_div {
	background-color: mediumpurple;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    font-size: 1.5em;
    padding: 16px;
}

.join_all_div {
	width: 23%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 2%;
}

.res_all_div {
	width: 23%;
    height: 300px;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    margin-top: 2%;
}

.res_in_div {
	width: 91%;
    padding-top: 21%;
    font-size: 1.4em;
}

.memJoin {
	margin-top: 4%;
}
    
.black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}

.modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: white;
    border-radius: 7px;
}

.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}
/* ### login modal end ### */

/* ### screen setting start ### */
/*부트스트랩 CSS 페이지네이션 active색*/
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: mediumpurple;
    border-color: mediumpurple;
}
/*부트스트랩 CSS 페이지네이션 글자색*/
.pagination>li>a, .pagination>li>span {
    color: mediumpurple;
}
 
input[type=date]::-webkit-calendar-picker-indicator {
  margin-left: -15px;
}

/* ### screen setting end ### */

/* 영화 차트 start*/
.movie-list-info {
    position: relative;
    margin: 20px;
    padding: 0;
    width:200px;
    height:300px;
    background-color: #fff;
    align:center;
    border-radius: 12px;
}

.movie-list , .movie-list a{
	position: absolute;
	align:center;
}
.summary{
	position: absolute;
	width:200px;
	height:300px;
	text-align:left;
	background-color: black;
    opacity: 80%;
}
.summary a {
	position: absolute;
	align:left;
	text-align:center;
	color: white;
    padding: 9%;
}

.title-area {
	position: relative;
}

.chart_a_div {
	text-align: center;
    font-size: 1.2em;
}

.chart_input_div {
	text-align: right;
    margin-right: 25%;
}
/* 영화 차트 end */

/* 영화 상세페이지 start */
.movie-content {
	position : relative;
	width:100%;
	height:520px;
	background-color : #151515;
}

.movie-content-img {
	position : absolute;
	background-repeat:no-repeat;
	background-size : 100% auto;
	width: 1100px;
	height:100%;
	margin:0 0 0 350px;
	opacity: 0.3;
}
.movie-detail-cont {
	position : absolute;
	width : 1100px;
	height:100%;
	margin: 0 0 0 350px;
}

.d-day {
	color : white;	
	height: 30px;
	width: 300px;
	text-align:cetner;
	font-size:2em;
	margin-left: 1%;
}

.movie-title {
	font-size: 3.0666em;
	margin-left: 1%;
}

.movie-title-en {
	font-size : 1.3333em;
	margin-left: 1%;
}

.movie-title, .movie-title-en {
	color : #fff;
	margin : 0 0 10px 0;
	margin-left: 1%;
}

.movie-info {
	left: 0px;
	bottom:50px;
	color: #fff;
	margin-left: 1%;
}

.movie-info-stack {
	display: block;
	left: 100px;
	bottom:50px;
	color: #fff;
	margin-left: 1%;
}
.movie-detail-cont .poster{
	display: block;
    position: absolute;
    right: 0;
    top: 45px;
}

.poster img{
	border-radius: 10px;
}

.movie-detail-cont .reserve {
	display: block;
    position: absolute;
    right: 0;
    bottom: 85px;
    width: 247px;
    background-color: mediumpurple;
    text-align:center;
    font-color:#fff;
    border-radius: 10px;
}
.movie-detail-cont .reserve a {
	color:#fff;
    font-size: 2em;
}

.movieInfo {
	width: 1100px;
	height: 100%;
	margin: 0 0 0 350px;
	color: #fff;
}

.movieInfo p span {
	border-right : 0.5px solid black;
	padding : 0 10px 0 0;
}

.review {
	width: 100%;
    height: 100%;
    /* margin: 0 0 0 350px; */
    background-color: #151515;
}

.review_in_div {
    width: 60%;
    margin-left: 20%;
    padding-top: 1%;
}

.review-list{
	background-color:#f8f8fa;
	margin-top:20px;
	width:950px;
}

.review_text{
	width:700px;
	height: 50px;
}

.review_text textarea {
	width:600px;
	height:80px;
}
.review_id{
	width:100px;
}
.memberName {
	float:left;
	padding:0 30px 0 0;
	color: white;
}
.memberName span{
	display: block;
    text-align: center;
    line-height: 70px;
}
.review_write_text{
	float:left;
}
.review_write_point{
	padding-top:25px;
	padding-right: 20px;
	float:left;	
	clear:both;
}
.review_write_text textarea{
	width:700px;
	height:80px;
	border-radius: 7px;
}

.memberName1 {
	float:left;
	padding:0 10px 0 0;
}

.memberName1 span{
	display: block;
    text-align: center;
    line-height: 70px;
    bottom:0px;
}
.review_write_button{
	float:left;
	display:block;
	padding: 0px 0 0 10px;
	vertical-align:middle;
}

.review_btn {
	width: 101px;
    height: 79px;
}
.review-box {
	background-color : #f8f8fa;
	float:left;
	height:80px;
	width:800px;
	line-height: 80px;
}
.story-point{
	float:left;
	line-height: 80px;
}
.story-point span{
	font-size: 2em;
	margin:0 0 0 30px;
}
.story-text {
    position: absolute;
	margin : 0 0 0 100px;
}
.story-text span {
	padding: 0 0 0 30px;
}
.story-text:before{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 50px;
    margin-top: -25px;
    background-color: rgba(0,0,0,.1);
}
.review_write{
	overflow:auto;
}
.review-list {
	height: 90px;
    overflow: auto;
    width: 53%;
    margin-left: 20%;
    padding-top: 10px;
    border-radius: 7px;
    margin-bottom: 1%;
}
.review_id {
	clear: both;
    float: left;
    margin-left: 1%;
    border-right: 2px solid mediumpurple;
    width: 90px;
}
.review_point {
	width: 80px;
    float: left;
    border-right: 2px solid mediumpurple;
    padding-left: 1%;
}
.review_text{
	float: left;
    padding-left: 1%;
    border-right: 2px solid mediumpurple;
}

.review_btn2{
	width: 103px;
    height: 29px;
    margin-left: 12px;
    margin-bottom: 4px;
}
/* 영화 상세페이지 end */
/* 상영시간표 페이지 start */
.timetable {
	background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.time_btn {
	margin-top: 38%;
}

.timetable-container {
	display: flex;
    justify-content: center;
    margin-left: 3%;
    border: 2px solid #575757;
    border-radius: 7px;
    width: 95%;
}
.movie-choise-area {
	float : left;
	align : middle;
/* 	margin-left: 2%; */
	border-right: 2px solid #575757;
}

.choise_li {
	padding-top: 35%;
    border-bottom: 2px solid #e7e7e7;
}

.movie-choise-area ul li {
	width: 150px;
	height:150px;
/* 	border:1px solid black; */
	text-align:center;
	list-style: none;
	padding-top: 36%;
    padding-right: 0%;
}
.movie-choise-area ul li a {
	width:100%;
	height:100%;
	vertical-align:middle;
}
.movie-choise-area ul li a span{
	font-size:1.66em;
}
.movie-choise {
/* 	border:1px solid black; */
	border-radius:3px;
	float:left;
	width: 800px;
	height:300px;
	padding: 0 0 0 20px;
}

movie-choise1 {
/* 	border:1px solid black; */
	border-radius:3px;
	float:left;
	width: 800px;
	height:300px;
	padding: 0 0 0 20px;
	margin-left: 1%;
}

.local {
	margin-top: 4%;
    margin-left: 1%;
/*     border-bottom: 2px solid black; */
}

.movie-choise li{
	float:left;
	width:33%;
	height:25px;
	margin-bottom: 2%;
}
.movie-choise li button {
	width:100%;
	text-align:left;
}
.movie-choise li button:hover {
	text-decoration:underline;
}
.movieposter {
	width:200px;
	height:311px;
	margin-right: 14px;
}

.movieposter img {
	border-top-right-radius: 4px;
    border-bottom-right-radius: 6px;
    height: 312px;
}

.movie-tit-div{
	width: 95%;
    justify-content: center;
    margin: 0px auto;
}

.movie-tit{
	display:block;
	margin-top : 60px!important;
	line-height: 44px;
	justify-content: center;
/*	width:800px;*/
}

#title_ko, #title_ko2{
	color:green;
}

.wrap {
	position:reative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width: 97%;
	height: 80px;
/*	margin-left:300px;*/
	margin: 0 auto;
}

.btn-pre {
	float:left;
	width:30px;
    background-color:white;
	height:100%;
	border:0px;
}
.btn-next {
	float:left;
	width:30px;
    background-color:white;
	height:100%;
	border:0px;
}

.on {
	float:left;
	width:80px;
	height:100%;
	background-color:white;
	border : 0px;
}

.on:hover{
	bacgroundcolor:gray;
}

.year {
	position: absolute;
    top: 0;
    font-size: .8667em;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin-top: -14px;
    border: 1px solid #d8d9db;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    font-weight: 400;
}

.holi {
	color:red;
}

.sat {
	color:blue;
}

.btn-group1 {
	width: 95%;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 6%;
}

.btn1 {
	width: 114px;
	margin-right: 1%;
	background-color: lightblue;
}

.locationInfo {
	margin-top:50px;
	margin-left: 6%;
}

.theater-list-box {
	margin-top:0px;
	margin-left:0px;
	position:relative;
}

.theater-list-box1{
	margin-left: 6%;
    width: 95%;
    height: 50px;
}

.localscreen {
	margin-top:10px;
	padding-bottom:20px;
	margin-right: 30px;
	float:left;
}

.movietype {
	float:left;
/*	width: 50px;*/
	height:50px;
	text-align:center;
	margin-right:50px;
}
.movietype-text{
	font-size : 2em;
}

.movietime-box{
	float:left;
	width: 50px;
	height:50px;
	text-align:center;
	margin-right:20px;
}

.movietime-box a{
	color: mediumpurple;
}

.movietime-box a:hover{
	color: mediumpurple;
}

.bk {
	background-color: mediumpurple;
    color: #fff;
    -webkit-text-stroke: thin;
    text-decoration-line: underline;
}

.timetable button:disabled {
  background: #ccc;
}
/* 상영시간표 페이지 end */
/* 관리 페이지 	*/
.title {
	text-align: left;
	margin-left: 500px;
	color: white;
}

.movieWrite, .movieWrite tr, .movieWrite td, .movieWrite th{
	border-bottom : 1px solid black;
	padding : 10px 10px;
	width : 800px;
}

.search {
	margin-right: 400px;
    margin-bottom: 10px;
}

.movieList, .moviList tr, .movieList th, .movieList td{
	border : 1px solid red;
	text-align: center;
	width: 950px;
}

.table td, .table th{
	text-align:center;
}

#poster{
	width:200px;
	height:150px;
}

textarea{
	resize:none;
	
}

.localWrite th, td{
	padding: 10px;
}

#side_bar{
	list-style-type: none;
    border-right: 3px;
    width: 11%;
    height: 60%;
    position: fixed;
    overflow: auto;
    text-align: center;
    background-color: mediumpurple;
    border-radius: 88px;
    color: white;
    margin-top: 2%;
    margin-left: 4%;
}

#side_bar .side_menu{
	text-decoration: none;
	display: block;
	color: white;
	padding: 80px 0px 80px 0px;
	font-size: 20px;
}

#side_bar a:hover{
	background-color: #eee;
	color: mediumpurple;
}

.my_all_div {
	width: 66%;
    margin: 0 auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.my_title_div {
	text-align: left;
    /* margin-left: 500px; */
    color: white;
    background-color: mediumpurple;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 1.5em;
    padding-left: 3%;
    height: 69px;
    padding-top: 18px;
}

.my_title_div2 {
	text-align: left;
    /* margin-left: 500px; */
    color: white;
    background-color: mediumpurple;
    font-size: 2em;
    padding-left: 3%;
    height: 69px;
    padding-top: 1%;
}

.my_boo_div {
	width: 90%;
    margin-top: 2%;
}

.my_main_div {
	height: 500px;
}

.name_div {
	float: left;
    width: 47%;
    text-align: right;
    padding-top: 2%;
    margin-top: 2%;
}

.point_div {
	float: left;
    width: 49%;
    text-align: left;
    margin-top: 2%;
    height: 142px;
    padding-left: 7%;
    padding-top: 3%;
}

.name_point_div {
	background-color: #e7e7e7;
    width: 93%;
    border-radius: 10px;
    margin-top: 2%;
}

.memname{
	/*padding-left: 350px;*/
    font-size: 50px;
    font-weight: bold;
/*     margin-top: 3%;
    width: 300px;
    margin-right: 33%; */
}

.memedit{
/* 	margin-left: 400px; */
	color: black;
	font-size: 18px;
}

.mempoint{
	/*padding-left: -100px;*/
    font-size: 30px;
    font-weight: bold;
/*     width: 300px; */
/*     margin-right: 26%; */
}

.mempoint1{
	/*padding-left: 200px;*/
    font-size: 20px;
/*     margin-right: 22%; */
}

.memleft{
	float: left;
	padding-left: 11%;
    padding-top: 8%;
}

.memright{
	float: right;
	padding-right: 16%;
    padding-top: 8%;
}

.mypage{
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
    color: mediumpurple;
}

.mypageinfo {
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	margin : 20px 10px;
}

.mypageinfo th {
	width: 200px;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	border: 1px solid #ccc;
}

.mypageinfo td {
  	width: 200px;
  	padding: 10px;
  	font-size: 12px;
  	text-align: center;
  	vertical-align: top;
  	border: 1px solid #ccc;
}

.membooted{
	margin-left: 95%;
	color: black;
}

.boo_table {
	width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #474747;
    border-radius: 10px;
}

.boo_table_tr {
	background-color: mediumpurple;
	color:white;
}
/* 부트스트랩 테이블 hover */
.table-hover tbody tr:hover {
    color: mediumpurple;
}

.mypagepwd{
	font-size: 18px;
	text-align: center;
  	vertical-align: top;
	line-height: 1.5;
	margin : 20px 10px;
/* 	margin-left: 200px; */
}

.pwd_btn{
	width: 100px;
}

.man_all_div {
	width: 68%;
    background-color: white;
    color: black;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.man_s_div {
	width: 70%;
    margin-left: 50%;
    margin-top: 4%;
}

.table_btn {
	background-color: mediumpurple;
    color: white;
    width: 60px;
    height: 30px;
}

.icon_btn[type="submit"] {
    background-color: transparent;
    font-family: FontAwesome;
    border-style: hidden;
    color: mediumpurple;
    font-size: 18px;
}

.foot_div {
    width: 10%;
    margin-right: -79%;
}

.man_all_div_sm {
    width: 44%;
    background-color: white;
    color: black;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.cancle_btn {
	background-color: white;
    color: black;
    width: 100%;
    height: 30px;
}

.man_all_div_lg {
	width: 72%;
    background-color: white;
    color: black;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1%;
}

.screen_div {
	width: 92%;
    margin-top: 2%;
}

.recent_btn {
	background-color: mediumpurple;
    color: white;
    width: 80px;
    height: 30px;
}

.screen_s_div {
	width: 70%;
    margin-left: 48%;
    margin-top: 2%;
}